parameters:
	ignoreErrors:
		-
			message: "#^Call to sprintf contains 1 placeholder, 2 values given\\.$#"
			count: 1
			path: lib/Doctrine/Cli/Formatter.php

		-
			message: "#^Undefined variable\\: \\$match$#"
			count: 2
			path: lib/Doctrine/Connection/Pgsql.php

		-
			message: "#^Undefined variable\\: \\$db$#"
			count: 1
			path: lib/Doctrine/Export/Sqlite.php

		-
			message: "#^Instantiated class Doctrine_Expression_Pgsql_Exception not found\\.$#"
			count: 1
			path: lib/Doctrine/Expression/Pgsql.php

		-
			message: "#^Undefined variable\\: \\$db$#"
			count: 1
			path: lib/Doctrine/Import/Sqlite.php

		-
			message: "#^Array has 2 duplicate keys with value 150 \\(\\\\Doctrine_Core\\:\\:ATTR_CACHE, \\\\Doctrine_Core\\:\\:ATTR_RESULT_CACHE\\)\\.$#"
			count: 1
			path: lib/Doctrine/Manager.php

		-
			message: "#^Undefined variable\\: \\$autoincrementColumn$#"
			count: 1
			path: lib/Doctrine/Migration/Base.php

		-
			message: "#^Undefined variable\\: \\$autoincrementLength$#"
			count: 1
			path: lib/Doctrine/Migration/Base.php

		-
			message: "#^Undefined variable\\: \\$autoincrementOptions$#"
			count: 1
			path: lib/Doctrine/Migration/Base.php

		-
			message: "#^Undefined variable\\: \\$autoincrementType$#"
			count: 1
			path: lib/Doctrine/Migration/Base.php

		-
			message: "#^Undefined variable\\: \\$children$#"
			count: 1
			path: lib/Doctrine/Parser/Xml.php

		-
			message: "#^Call to an undefined method Doctrine_Query_Abstract\\<T of Doctrine_Record\\>\\:\\:isSubquery\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Query/Abstract.php

		-
			message: "#^Call to an undefined method Doctrine_Query_Abstract\\<T of Doctrine_Record\\>\\:\\:copy\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Query/Abstract.php

		-
			message: "#^Call to an undefined method Doctrine_Query_Condition\\:\\:load\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Query/Condition.php

		-
			message: "#^Call to an undefined method Doctrine_Query_Set\\:\\:parseLiteralValue\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Query/Set.php

		-
			message: "#^Cannot use \\[\\] for reading\\.$#"
			count: 1
			path: lib/Doctrine/Search/Indexer.php

		-
			message: "#^Call to an undefined method Doctrine_Search_Indexer_Dir\\:\\:indexFile\\(\\)\\.$#"
			count: 1
			path: lib/Doctrine/Search/Indexer/Dir.php

		-
			message: "#^Undefined variable\\: \\$onDemand$#"
			count: 1
			path: lib/Doctrine/Sequence/Derby.php

		-
			message: "#^Undefined variable\\: \\$onDemand$#"
			count: 1
			path: lib/Doctrine/Sequence/Splice.php

		-
			message: "#^Access to an undefined property Doctrine_Task_BuildAll\\:\\:\\$createDb\\.$#"
			count: 3
			path: lib/Doctrine/Task/BuildAll.php

		-
			message: "#^Access to an undefined property Doctrine_Task_BuildAllLoad\\:\\:\\$buildAll\\.$#"
			count: 3
			path: lib/Doctrine/Task/BuildAllLoad.php

		-
			message: "#^Access to an undefined property Doctrine_Task_BuildAllLoad\\:\\:\\$loadData\\.$#"
			count: 3
			path: lib/Doctrine/Task/BuildAllLoad.php

		-
			message: "#^Access to an undefined property Doctrine_Task_BuildAllReload\\:\\:\\$rebuildDb\\.$#"
			count: 3
			path: lib/Doctrine/Task/BuildAllReload.php

		-
			message: "#^Access to an undefined property Doctrine_Task_BuildAllReload\\:\\:\\$loadData\\.$#"
			count: 3
			path: lib/Doctrine/Task/BuildAllReload.php

		-
			message: "#^Access to an undefined property Doctrine_Task_RebuildDb\\:\\:\\$dropDb\\.$#"
			count: 3
			path: lib/Doctrine/Task/RebuildDb.php

		-
			message: "#^Access to an undefined property Doctrine_Task_RebuildDb\\:\\:\\$createDb\\.$#"
			count: 3
			path: lib/Doctrine/Task/RebuildDb.php

		-
			message: "#^Access to an undefined property Doctrine_Task_RebuildDb\\:\\:\\$createTables\\.$#"
			count: 3
			path: lib/Doctrine/Task/RebuildDb.php
